{% extends 'page.html.twig' %}
{% block title %}Résultats annonces{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input id="searchInput" type="text" placeholder="Rechercher" autofocus>
            <div id="searchInput" class="ui button">Rechercher</div>
        </div>
        <div class="ui vertical segment stackable">
            <div class="ui vertical menu left floated">
                <div class="item">
                    <div class="header">Département</div>
                    <div class="menu">
                        <div class="item">
                            <select class="ui search dropdown" id="departementSelect">
                                <option value="0">Désactivé</option>
                                {% for i in 1..95 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Secteur d'activité</div>
                    <div class="menu">
                        <div class="item">
                            <select class="ui search dropdown" id="secteurSelect">
                                <option value="0">Désactivé</option>
                                {% for secteur in secteurs %}
                                    <option value="{{ secteur }}">{{ secteur }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Favoris</div>
                    <div class="menu">
                        <div class="item field">
                            <div class="ui toggle checkbox">
                                <input id="favorisCheckbox" type="checkbox" name="favoris" class="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"></div>
            </div>
            <div class="ui center aligned">
                <div id="annoncesList" class="ui two stackable cards">
                    <noscript>
                        <p>Veuillez activer JavaScript pour afficher les résultats en AJAX.</p>
                    </noscript>
                    {% for i in 0..6 %}
                        <div class="item">
                            <div class="image">
                                <div class="ui placeholder">
                                    <div class="square image"></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="header">
                                        <div class="very short line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="ui placeholder">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        window.addEventListener("DOMContentLoaded", (event) => {
            makeRequestLoadAll()
        });

        //Cherche tous les résultats
        function makeRequestLoadAll() {
            $.ajax({
                url: '/particulier/get/annonces',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayAnnonces(results)
                }
            });
        }

        const searchInput = document.getElementById('searchInput');

        // Résultats filtrés
        // particulier/get/annonces/{metier}/{distanceMax}/{limit}/{offset}
        // L'AutoEntrepreneur récupère toutes les annonces de Metier dans un rayon de distanceMax autour de lui.
        // Il récupère limit annonces avec un offset => {'annonces': Annonce[]}
        function makeRequestFiltered() {
            var metier = searchInput.value;
            var distanceMax = -1;
            var limit = 25;
            var offset = 0;

            $.ajax({
                url: '/particulier/get/annonces/' + metier + '/' + distanceMax + '/' + limit + '/' + offset,
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayAnnonces(results)
                }
            });
        }

        //Affiche les résultats dans 'annoncesList'
        const annoncesList = document.getElementById('annoncesList');

        //Classe AnnonceCard
        class AnnonceCard {
            constructor(id, nom, rue, codeP, ville, createdAt, date, description) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                date = date.substr(0, 10).split('-');
                date = date[2] + '-' + date[1] + '-' + date[0];
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                let url = "{{ path('particulier_show_annonce', {'id': 1}) }}".slice(0, -1) + id;

                this.cardTemplate = `
                <div class="card annonceCard">
                    <i class="icon star outline addFavBtn ${favoriStar}" onclick='addFav(this, ${id})'></i>
                    <div class="content">
                        <div class="header">${nom}</div>
                        <div class="meta">
                            <li>
                                <i class="icon map pin"></i>
                                ${ville}
                            </li>
                            <li>
                                <i class="icon calendar"></i>
                                 Pour le ${date}
                            </li>
                        </div>
                        <div class="description">
                            <p>${description}</p>
                        </div>
                        <div class="extra">
                            <a href=${url}
                               class="ui right floated green button">
                                Voir l'annonce
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>`;
            }
        }

        function displayAnnonces(results) {
            console.log(results);
            // Réinitialise la liste
            annoncesList.innerHTML = '';

            // Il n'y a pas de résultats :
            if (results.annonces === undefined || results.annonces.length == 0) {
                annoncesList.innerHTML = `<div style="margin: 60px auto;">Pas de résultat trouvé.</div>`;
            }

            // Il y a des résultats :
            // Pour chaque cv du tableau annonces
            results.annonces.forEach(a => {
                let card = new AnnonceCard(a.identity, a.nom, a.adresse.rue, a.adresse.codePostal, a.adresse.ville, a.createdAt, a.date, a.description);
                annoncesList.innerHTML += card.cardTemplate;
            })
        }

        searchInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                makeRequestFiltered();
            }
        });

        const rangeLabel = document.getElementById('rangeLabel');

        function updateRangeLabel(value) {
            if (value == 0) {
                rangeLabel.innerHTML = 'Désactivé';
            } else {
                rangeLabel.innerHTML = value + ' km.'
            }
            ;
        }

        function addFav(e, id) {
            $(e).transition('pulse');
            // Retirer des favoris
            if (e.classList.contains('yellow')) {
                e.classList.remove('yellow');
                e.classList.add('outline');
                $.ajax({
                    url: '/particulier/remove/favoris/' + id,
                    type: 'POST',
                    dataType: 'json',
                    success: function () {
                        console.log('retiré des favoris')
                    }
                });
            } else
                // Ajouter aux favoris
            {
                e.classList.add('yellow');
                e.classList.remove('outline');
                $.ajax({
                    url: '/particulier/add/favoris/' + id,
                    type: 'POST',
                    dataType: 'json',
                    success: function () {
                        console.log('ajouté aux favoris')
                    }
                });
            }
        };

        $('#favorisCheckbox').on('change', function () {
            if (this.checked) {
                $.ajax({
                    url: '/particulier/get/favoris',
                    type: 'POST',
                    dataType: 'json',
                    success: function (results) {
                        displayFavoris(results, true)
                    }
                });
            } else {
                $.ajax({
                    url: '/particulier/get/offres_emploi',
                    type: 'POST',
                    dataType: 'json',
                    success: function (results) {
                        displayAnnonces(results, false)
                    }
                });
            }
        });
    </script>
{% endblock %}