{% extends 'page.html.twig' %}
{% block title %}Voir carte de visite{% endblock %}
{% block body %}
    <div style="position: relative" class="ui justified container">
        {% if not owner %}
            <a href="{{ path('particulier_cartes') }}" class="ui compact labeled icon button"
               style="position: absolute; top: 20px; left: -20px; transform: translateX(-100%);">
                <i class="left arrow icon"></i>
                Retour aux cartes
            </a>
        {% endif %}
        <h2 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            Carte de Visite de {{ carte.autoEntrepreneur.prenom }} {{ carte.autoEntrepreneur.nom }}
        </h2>
        <div>
            <div class="ui buttons">
                <a download="CV de {{ carte.autoEntrepreneur.prenom }} {{ carte.autoEntrepreneur.nom }}"
                   href="{{ asset('img/placeholders/carte.png') }}"
                   class="ui grey basic button">
                    Télécharger
                </a>
                {% if owner %}
                    <a href="{{ path('entreprise_modifier_cv', {id: carte.id}) }}"
                       class="ui blue basic button">
                        Éditer
                    </a>
                    <a href="{{ path('entreprise_delete_cv', {id: carte.id}) }}"
                       class="ui red basic button">
                        Supprimer
                    </a>
                {% endif %}
            </div>
        </div>
        <form class="ui form segment">
            <!-- Identité -->
            <h3 class="ui dividing header">
                <i class="icon user"></i>
                <div class="content">Identité</div>
            </h3>
            <div class="ui two column grid">
                <div class="column ten wide">
                    <div class="flex">
                        {% if carte.autoEntrepreneur.logo %}
                            <div class="profileLogo profileLogo--80"
                                 style="background-image: url('{{ asset('uploads/logo/' ~ carte.autoEntrepreneur.logo) }}'); -moz-background-image: url('{{ asset('uploads/logo/' ~ carte.autoEntrepreneur.logo) }}'); -o-background-image: url('{{ asset('uploads/logo/' ~ carte.autoEntrepreneur.logo) }}'); -webkit-background-image: url('{{ asset('uploads/logo/' ~ carte.autoEntrepreneur.logo) }}');"></div>
                        {% endif %}
                        <div>
                            <div>{{ carte.autoEntrepreneur.prenom }} {{ carte.autoEntrepreneur.nom }}</div>
                            <div>Entreprise : {{ carte.autoEntrepreneur.nomEntreprise }}</div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    {% if app.session.get('user') %}
                        <div title="Vous devez envoyer une proposition de contrat">
                            Mail :
                            <span class="textblur">mailplaceholder@mail.fr</span>
                        </div>
                        <div title="Vous devez envoyer une proposition de contrat">
                            Téléphone :
                            <span class="textblur">0612345678</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Bio -->
            {% if carte.description %}
                <h3 class="ui dividing header">
                    <i class="icon info"></i>
                    <div class="content">Biographie</div>
                </h3>
                <div class="ui segment">
                    <p>{{ carte.description }}</p>
                </div>
            {% endif %}
            {% if carte.realisations %}
                <!-- Réalisations -->
                <h3 class="ui dividing header">
                    <i class="icon pencil alternate"></i>
                    <div class="content">Réalisations</div>
                </h3>
                <div class="ui divided items">
                    {% for realisation in carte.realisations %}
                        <div class="ui item">
                            <div class="ui justified content">{{ realisation.description|nl2br }}</div>
                            <img class="ui image medium right floated"
                                 src="{{ asset('uploads/realisations/' ~ realisation.image) }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        {% if app.session.get('userType') == 'Particulier' %}
            <div class="ui vertical segment left aligned">
                <h3 class="ui header">Proposer à {{ carte.autoEntrepreneur.prenom }} une de vos annonces</h3>
                <select class="ui dropdown" name="annonceTarget" id="annonceTarget">
                    {% if annonces %}
                        <option value="">Choisir</option>
                        {% for annonce in annonces %}
                            <option value="{{ annonce.identity }}">{{ annonce.nom }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">Pas d'annonce postée !</option>
                    {% endif %}
                </select>
                <button id="applyBtn" class="ui green button" onclick="offreContrat()">
                    Recruter
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>

        var annonceTarget = document.getElementById('annonceTarget')
        $(annonceTarget).on('change', function() {
            $('#applyBtn').text('Recruter');
        })

        function offreContrat() {
            var annonceID = annonceTarget.value;
            if (annonceID.length > 0) {
                httpRequest = new XMLHttpRequest();

                if (!httpRequest) {
                    alert('Abandon :( Impossible de créer une instance de XMLHTTP');
                    return false;
                }
                httpRequest.onreadystatechange = offreContratResponse;
                httpRequest.open('POST', '/particulier/propose/' + annonceID + '/{{ carte.autoEntrepreneur.identity }}');
                httpRequest.send();
            }
        }

        const applyBtn = document.querySelector("#applyBtn")

        function offreContratResponse() {
            //En cours de chargement
            if (httpRequest.readyState === XMLHttpRequest.LOADING) {
                applyBtn.innerHTML = `<i class="notched circle loading icon"></i>`;
            }
            //Chargé
            else if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    // stocke les résultats parsé en JSON dans une variable
                    results = JSON.parse(httpRequest.responseText)
                    console.log(results)
                    // Candidature posée
                    if (results.result) {
                        applyBtn.innerHTML = '<div>Validé</div>';
                    }
                    // Candidature retirée
                    else {
                        applyBtn.innerHTML = '<div>Déjà demandé</div>';
                    }
                } else {
                    applyBtn.innerHTML = `<div>Il y a eu un problème avec la requête.</div>`;
                }
            }
        }
    </script>
{% endblock %}