{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur FeelJob{% endblock %}
{% block body %}
    <div
            {% if app.session.get('user') %}
                style="margin-top: 60px;"
            {% endif %}
            id="homepageSegment" class="ui inverted vertical center aligned segment homepageSegment">
        <div class="background homepage-bckg"></div>
        <div class="ui large inverted pointing secondary menu">
            {% if not app.session.get('user') %}
                <div id="nav" class="ui container homeNav">
                    <a href="{{ path('homepage') }}" class="active item">Accueil</a>
                    <a href="{{ path('show', {type:'Employeur'}) }}" class="item">Entreprises</a>
                    <a href="{{ path('show', {type:'Employe'}) }}" class="item">Candidats</a>
                    <a href="{{ path('show', {type:'AutoEntrepreneur'}) }}" class="item">Freelances</a>
                    <a href="{{ path('show', {type:'Particulier'}) }}" class="item">Particuliers</a>
                    <div class="right item">
                        <a href="{{ path('connexion') }}" class="ui inverted button" role="button">Connexion</a>
                        <a href="{{ path('inscription') }}" style="margin-left:0.5em"
                           class="ui green button" role="button">Inscription</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="ui text container masthead">
            <h1 style="font-size:4em;font-weight:normal;margin-bottom:0;margin-top:1em" class="ui inverted header">
                Feeljob</h1>
            <h2 style="font-size:1.7em;font-weight:normal;margin-top:1.5em" class="ui inverted header">La valeur du
                travail.</h2>
        </div>
        <div style="z-index: 2; padding-top: 160px;"
             class="ui centered stackable cards container">
            <div class="ui card homeCard">
                <div class="content headerContent">
                    <div class="header">Particuliers
                        <i class="icon arrows alternate horizontal"></i>
                        Freelances
                    </div>
                    <div class="meta">
                        <span class="date">Vous faire valoir en ligne</span>
                    </div>
                </div>
                <div class="content">
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur doloribus earum,
                        ex facilis inventore maiores mollitia, non praesentium quas quasi quibusdam, recusandae rem
                        repellendus repudiandae sed suscipit temporibus voluptate.
                    </div>
                </div>
                <a href="{{ path('particulier_inscription') }}" class="ui bottom attached green icon button">
                    S'inscire
                    <i class="right arrow icon"></i>
                </a>
            </div>
            <div class="ui card homeCard">
                <div class="content headerContent">
                    <div class="header">Entreprises
                        <i class="icon arrows alternate horizontal"></i>
                        Candidats
                    </div>
                    <div class="meta">
                        <span class="date">Trouvez le candidat idéal</span>
                    </div>
                </div>
                <div class="content">
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur doloribus earum,
                        ex facilis inventore maiores mollitia, non praesentium quas quasi quibusdam, recusandae rem
                        repellendus repudiandae sed suscipit temporibus voluptate.
                    </div>
                </div>
                <a href="{{ path('entreprise_inscription') }}" class="ui bottom attached green button">
                    S'inscire
                    <i class="right arrow icon"></i>
                </a>
            </div>

        </div>
        <svg style="z-index: 0;position: absolute; bottom: 0; left: 0; right: 0;"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1"
                  d="M0,288L60,250.7C120,213,240,139,360,122.7C480,107,600,149,720,170.7C840,192,960,192,1080,165.3C1200,139,1320,85,1380,58.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
    </div>
    <div style="min-height: 710px; padding:8em 0em 8em 0em;" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid fadeupAnim">
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">We Help Companies and Companions</h3>
                    <p style="font-size:1.33em">We can give your company superpowers to do things that they never
                        thought possible. Let us delight your customers and empower your needs... through pure data
                        analytics.</p>
                    <h3 style="font-size:2em" class="ui header">We Make websites That Can Dance</h3>
                    <p style="font-size:1.33em">Yes that&#x27;s right, you thought it was the stuff of dreams, but even
                        websites can be bioengineered.</p>
                </div>
                <div class="right floated six wide column"><img
                            src="https://react.semantic-ui.com/images/wireframe/white-image.png"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <button class="ui huge button">Check Them Out</button>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 220px; padding:0em" class="ui vertical segment">
        <div class="ui stackable internally celled equal width grid fadeupAnim">
            <div class="center aligned row">
                <div style="padding-bottom:5em;padding-top:5em" class="column">
                    <h3 style="font-size:2em" class="ui header">&quot;What a Company&quot;</h3>
                    <p style="font-size:1.33em">That is what they all say about us</p>
                </div>
                <div style="padding-bottom:5em;padding-top:5em" class="column">
                    <h3 style="font-size:2em" class="ui header">&quot;I shouldn&#x27;t have gone with their competitor.&quot;</h3>
                    <p style="font-size:1.33em"><img src="https://react.semantic-ui.com/images/avatar/large/nan.jpg"
                                                     class="ui avatar image"/><b>Nan</b> Chief Fun Officer Acme Toys</p>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 770px; padding:8em 0em" class="ui vertical segment">
        <div class="ui text container fadeupAnim">
            <h3 style="font-size:2em" class="ui header">Breaking The Grid, Grabs Your Attention</h3>
            <p style="font-size:1.33em">Instead of focusing on content creation and hard work, we have learned how to
                master the art of doing nothing by providing massive amounts of whitespace and generic content that can
                seem massive, monolithic and worth your attention.</p>
            <a class="ui large button" role="button">Read More</a>
            <h4 style="margin:3em 0em;text-transform:uppercase" class="ui horizontal divider header"><a href="#">Case
                    Studies</a></h4>
            <h3 style="font-size:2em" class="ui header">Did We Tell You About Our websites?</h3>
            <p style="font-size:1.33em">Yes I know you probably disregarded the earlier boasts as non-sequitur filler
                content, but it&#x27;s really true. It took years of gene splicing and combinatory DNA research, but our
                websites can really dance.</p>
            <a class="ui large button" role="button">I&#x27;m Still Quite Interested</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        if (screen.width <= 800) {
            $('.homeNav').css('display', 'none');
        } else {
            $('.visiteurNav').addClass('hidden');
            $('.primaryNav').addClass('fixed');
            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.visiteurNav').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.visiteurNav').transition('fade out');
                    }
                })
            ;
        }

        //Articles fade-in
        $('.fadeupAnim').addClass('transition hidden');
        window.addEventListener('scroll', function () {
            let articles = document.querySelectorAll('.fadeupAnim')
            articles.forEach(a => {
                if (a.getBoundingClientRect().y < 200 && a.classList.contains('hidden')) {
                    $(a).transition('fade up')
                }
            })
        })

    </script>
{% endblock %}