{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur FeelJob{% endblock %}
{% block body %}
    <div
            {% if app.session.get('user') %}
                style="margin-top: 60px;"
            {% endif %}
            id="homepageSegment" class="ui inverted vertical center aligned segment homepageSegment">
        <div class="background homepage-bckg"></div>
        <div class="ui large inverted pointing secondary menu">
            {% if not app.session.get('user') %}
                <div id="nav" class="ui container homeNav">
                    <a href="{{ path('homepage') }}" class="active item">Accueil</a>
                    <a href="{{ path('show', {type:'Particulier'}) }}" class="item">Particuliers</a>
                    <a href="{{ path('show', {type:'AutoEntrepreneur'}) }}" class="item">Freelances</a>
                    <a href="{{ path('show', {type:'Employeur'}) }}" class="item">Entreprises</a>
                    <a href="{{ path('show', {type:'Employe'}) }}" class="item">Candidats</a>
                    <div class="right item">
                        <a href="{{ path('connexion') }}" class="ui inverted button" role="button">Connexion</a>
                        <a href="{{ path('inscription') }}" style="margin-left:0.5em"
                           class="ui green button" role="button">Inscription</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="ui text container masthead">
            <h1 style="font-size:4em;font-weight:normal;margin-bottom:0;margin-top:1em" class="ui inverted header">
                Feeljob</h1>
            <h2 style="font-size:1.7em;font-weight:normal;margin-top:1.5em" class="ui inverted header">La valeur du
                travail.</h2>
        </div>
        <div style="z-index: 2; padding-top: 160px;"
             class="ui centered stackable cards container">
            <div class="ui card homeCard">
                <div class="content headerContent">
                    <div class="header">Particuliers
                        <i class="icon arrows alternate horizontal"></i>
                        Freelances
                    </div>
                    <div class="meta">
                        <span class="date">Vous faire valoir en ligne</span>
                    </div>
                </div>
                <div class="content justified">
                    <div class="description justified">
                        Trouvez votre autoentrepreneur rapidement et en toute simplicité :
                        Quelques clics, c’est juste ce qu’il vous faut pour trouver la personne dont vous avez besoin.
                        Soyez acteurs de votre évolution :
                        Publier des photos de vos réalisations pour booster votre compte.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a href="{{ path('show', {type:'Particulier'}) }}"
                           class="ui green icon button">
                            Particulier
                            <i class="right arrow icon"></i>
                        </a>
                        <a href="{{ path('show', {type:'AutoEntrepreneur'}) }}"
                           class="ui green basic icon button">
                            Freelance
                            <i class="right arrow icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui card homeCard">
                <div class="content headerContent">
                    <div class="header">Entreprises
                        <i class="icon arrows alternate horizontal"></i>
                        Candidats
                    </div>
                    <div class="meta">
                        <span class="date">Trouvez le candidat idéal</span>
                    </div>
                </div>
                <div class="content justified">
                    <div class="description justified">
                        Ajoutez des profils de candidats dans vos favoris,
                        Rentrer en contact plus facilement.
                        Pouvoir les notifiés et partager la fiche de poste.
                        Des Profil vérifiés par feeljob :
                        100% des profils sont vérifiés par nos expert et vos recommandations.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a href="{{ path('show', {type:'Employeur'}) }}"
                           class="ui green button">
                            Entreprise
                            <i class="right arrow icon"></i>
                        </a>
                        <a href="{{ path('show', {type:'Employe'}) }}" class="ui green basic button">
                            Candidat
                            <i class="right arrow icon"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <svg style="z-index: 0;position: absolute; bottom: 0; left: 0; right: 0;"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1"
                  d="M0,288L60,250.7C120,213,240,139,360,122.7C480,107,600,149,720,170.7C840,192,960,192,1080,165.3C1200,139,1320,85,1380,58.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        </svg>
    </div>
    <div style="min-height: 710px; padding:8em 0em 8em 0em;" class="ui vertical segment">
        <div class="ui container stackable middle aligned grid fadeupAnim">
            <div class="row">
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Trouvez votre autoentrepreneur rapidement et en toute
                        simplicité</h3>
                    <p style="font-size:1.33em">
                        Quelques clics, c’est juste ce qu’il vous faut pour trouver la personne dont vous avez besoin
                    </p>
                </div>
                <div class="right floated six wide column"><img
                            src="{{ asset('img/show/particulier1.png') }}"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="left floated six wide column"><img
                            src="{{ asset('img/show/Ae2.png') }}"
                            class="ui large bordered rounded image"/></div>
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Soyez acteurs de votre évolution</h3>
                    <p style="font-size:1.33em">
                        Publier des photos de vos réalisations pour booster votre compte
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="six wide column">
                    <h3 style="font-size:2em" class="ui header">Des Profil vérifiés par feeljob</h3>
                    <p style="font-size:1.33em">
                        100% des profils sont vérifiés par nos expert et vos recommandations
                    </p>
                </div>
                <div class="right floated seven wide column"><img
                            src="{{ asset('img/show/Ae3.png') }}"
                            class="ui large bordered rounded image"/></div>
            </div>
            <div class="row">
                <div class="left floated six wide column"><img
                            src="{{ asset('img/show/entreprise1.png') }}"
                            class="ui large bordered rounded image"/></div>
                <div class="eight wide column">
                    <h3 style="font-size:2em" class="ui header">Ajoutez des profils de candidats dans vos favoris</h3>
                    <p style="font-size:1.33em">
                        <i class="icon check"></i>Rentrer en contact plus facilement
                    </p>
                    <p style="font-size:1.33em">
                        <i class="icon check"></i>Pouvoir les notifiés et partager la fiche de poste
                    </p>
                </div>
            </div>
            <div style="padding-top: 6em;" class="row">
                <div class="center aligned column">
                    <a href="{{ path('particulier_cartes') }}" class="homeBtn ui huge button">Voir les freelances</a>
                    <a href="{{ path('particulier_annonces') }}" class="homeBtn ui huge button">Voir les annonces</a>
                    <a href="{{ path('entreprise_cvs') }}" class="homeBtn ui huge button">Voir les profils</a>
                    <a href="{{ path('entreprise_offres_emploi') }}" class="homeBtn ui huge button">Voir les offres</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        if (screen.width <= 800) {
            $('.homeNav').css('display', 'none');
        } else {
            $('.visiteurNav').addClass('hidden');
            $('.primaryNav').addClass('fixed');
            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.visiteurNav').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.visiteurNav').transition('fade out');
                    }
                })
            ;
        }

        //Articles fade-in
        $('.fadeupAnim').addClass('transition hidden');
        window.addEventListener('scroll', function () {
            var articles = document.querySelectorAll('.fadeupAnim')
            articles.forEach(a => {
                if (a.getBoundingClientRect().y < 200 && a.classList.contains('hidden')) {
                    $(a).transition('fade up')
                }
            })
        })

    </script>
{% endblock %}