{% extends 'init.html.twig' %}
{% block title %}Inscription Entreprise{% endblock %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #fafbfc;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>

    <svg style="position:absolute; top: -100px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#21ba45" fill-opacity="1"
              d="M0,64L48,85.3C96,107,192,149,288,138.7C384,128,480,64,576,48C672,32,768,64,864,106.7C960,149,1056,203,1152,229.3C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
    <a href="{{ path('homepage') }}" class="ui compact labeled icon button"
       style="position: fixed; top: 20px; left: 20px; z-index: 2;">
        <i class="left arrow icon"></i>
        Retour à l'accueil
    </a>
    <div class="ui center aligned grid">
        <div class="column" style="margin-top: 40px; max-width: 580px;">
            <h2 class="ui green image header">
                <img src="{{ asset('img/FJ200.png') }}" class="image">
                <div class="content">
                    Feeljob
                </div>
            </h2>
            <div class="row" style="text-align: left !important;">
                <div class="ui negative message hidden transition">
                    <i class="close icon"></i>
                    <div class="header">
                        Erreur !
                    </div>
                    <div class="content">
                        {% for messages in app.flashes %}
                            {% for message in messages %}
                                <div>
                                    {{ message | raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ui container vertical segment left aligned">
                    <div class="ui bottom attached tab segment active">
                        <div class="ui vertical segment form--segment">
                            <div class="ui container stackable middle aligned grid">
                                <h3 class="ui header center aligned" style="width: 100%;">Création compte
                                    Entreprise</h3>
                                <form class="ui form" method="post" style="width: 100%;" enctype="multipart/form-data">
                                    <div class="two fields">
                                        <div class="required field">
                                            <label>Prénom</label>
                                            <input type="text" name="prenom" placeholder="Prénom" maxlength="48"
                                                   required>
                                        </div>
                                        <div class="required field">
                                            <label>Nom</label>
                                            <input type="text" name="nom" placeholder="Nom" maxlength="48" required>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="required field">
                                            <label>Nom de l'entreprise</label>
                                            <input type="text" name="nomEntreprise" placeholder="Nom entreprise"
                                                   maxlength="48" required>
                                        </div>
                                        <div class="field">
                                            <label>Logo de l'entreprise</label>
                                            <label class="ui teal basic button fileInputLabel" for="employeur-logo">
                                                <i class="paperclip icon"></i>
                                                <span id="employeur-label">Logo de l'entreprise</span>
                                                <input type="file" style="display: none;" id="employeur-logo"
                                                       name="logo">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="required field">
                                        <label>Adresse de l'entreprise</label>
                                        <input type="text" name="adresse" maxlength="48"
                                               placeholder="Adresse entreprise" required>
                                    </div>
                                    <div class="two fields">
                                        <div class="required field">
                                            <label>Code postal</label>
                                            <input type="text" name="adresse" maxlength="8" placeholder="Code postal" required>
                                        </div>
                                        <div class="required field">
                                            <label>Ville</label>
                                            <input type="text" name="adresse" maxlength="48" placeholder="Ville" required>
                                        </div>
                                    </div>
                                    <div class="required field">
                                        <label>N° de Siret</label>
                                        <div>
                                            <input onkeyup="checkField(this, regexSIRET)" type="text" name="siret"
                                                   placeholder="N° Siret" min="8" max="14" required>
                                        </div>
                                    </div>
                                    <div class="required field">
                                        <label>Secteur d'activité</label>
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="secteurActivite">
                                            <div class="default text">Secteur</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                {% for secteur in secteurActivites %}
                                                    <div class="item" data-value="{{ secteur }}">
                                                        {{ secteur }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Descriptif de l'entreprise</label>
                                        <textarea rows="4" name="description"
                                                  placeholder="Une description de votre entreprise."
                                                  maxlength="400"></textarea>
                                    </div>
                                    <div class="two fields">
                                        <div class="required field">
                                            <label>Adresse e-mail</label>
                                            <div class="ui left icon input">
                                                <i class="icon envelope"></i>
                                                <input class="mailInput" onkeyup="checkField(this, regexMail)"
                                                       type="text" name="email" placeholder="@mail.fr" maxlength="250"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="required field">
                                            <label>Téléphone</label>
                                            <div class="ui left icon input">
                                                <i class="icon phone"></i>
                                                <input type="text" onkeyup="checkField(this, regexPhone)"
                                                       name="telephone" placeholder="Téléphone" maxlength="250" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="required field mdpPop">
                                        <label>Mot de passe</label>
                                        <div class="ui right labeled left icon input">
                                            <i class="icon lock"></i>
                                            <input type="password" id="mdpE" onkeyup="checkField(this, regexMdp)"
                                                   name="motdepasse" placeholder="Mot de passe" maxlength="48"
                                                   required>
                                            <div style="cursor: pointer" class="ui basic label"
                                                 onclick="showPsswd(this, 'mdpE')">
                                                <i style="margin: 0;" class="icon eye slash link"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="required field">
                                        <label>Répéter le mot de passe</label>
                                        <div class="ui left icon input">
                                            <i class="icon lock"></i>
                                            <input type="password" onkeyup="comparePass(this, 'mdpE')"
                                                   name="motdepasse2" placeholder="Mot de passe" maxlength="48"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="required inline field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="conditions" class="hidden" required>
                                            <label>J'accepte les conditions d'utilisation</label>
                                        </div>
                                        <a href="{{ path('conditions') }}" target="_blank">Voir ici &nbsp<i
                                                    class="icon external"></i></a>
                                    </div>
                                    <button class="ui large green fluid submit button" type="submit">Valider</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#21ba45" fill-opacity="1"
              d="M0,96L48,85.3C96,75,192,53,288,42.7C384,32,480,32,576,74.7C672,117,768,203,864,245.3C960,288,1056,288,1152,288C1248,288,1344,288,1392,288L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        var regexMail = /^[^ ]+@[^ ]+\.[A-z]{2,3}$/
        var regexPhone = /^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$/
        var regexMdp = /^(?=.*[a-z])(?=.*\d).{8,}$/
        //var regexSIRET = /^(RCS )?(([0-9](\s)?){3}){3}(([0-9](\s)?){5})?$/
        var regexSIRET = /^[0-9]{14}$/

        function checkField(sender, model) {
            if (!sender.value.match(model)) {
                sender.parentNode.parentNode.classList.add('error')
            } else {
                sender.parentNode.parentNode.classList.remove('error')
            }
        }

        function comparePass(sender, model) {
            model = document.getElementById(model).value
            if (sender.value != model) {
                sender.parentNode.parentNode.classList.add('error')
            } else {
                sender.parentNode.parentNode.classList.remove('error')
            }
        }

        function showPsswd(obj, psswdfield) {
            psswdfield = document.getElementById(psswdfield)
            var eyeIcon = obj.getElementsByTagName('i')[0]
            if (eyeIcon.classList.contains('slash')) {
                eyeIcon.classList.remove('slash');
                psswdfield.type = 'text';
            } else {
                eyeIcon.classList.add('slash');
                psswdfield.type = 'password';
            }
        };

        $('#employeur-logo').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#employeur-logo')[0].files[0].name;
            $('#employeur-label').text(file);
        });

        $('.mdpPop')
            .popup({
                content: '8 caractères min dont 1 chiffre',
                on: 'click'
            })
        ;
    </script>
{% endblock %}