{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h2>Profil de Clément Jacquard</h2>
        <div>
            <img class="ui small circular image" src="{{ asset('img/placeholders/elyse.png') }}">
        </div>
        <div>
            <img class="ui image medium" src="{{ asset('img/placeholders/cv.png') }}" alt="">
        </div>
        <div>
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    Paramètres
                    <div class="sub header">Modifiez vos paramètres</div>
                </div>
            </h2>
        </div>
        <div>
            <div>
                <h3>Avis des employeurs</h3>
                <div class="ui three stackable cards">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Superbe expérience !</div>
                            <div class="meta">
                                <span class="right floated time">2 days ago</span>
                                <span class="category">Nom entreprise</span>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum cumque deserunt
                                    dolor eveniet hic, ipsa ipsam minus mollitia pariatur quae quia quis quos recusandae
                                    rem sunt veniam veritatis? Ipsa.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui avatar image" src="{{ asset('img/placeholders/matt.jpg') }}"> Matt
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <div class="header">Superbe expérience !</div>
                            <div class="meta">
                                <span class="right floated time">2 days ago</span>
                                <span class="category">Nom entreprise</span>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum cumque deserunt
                                    dolor eveniet hic, ipsa ipsam minus mollitia pariatur quae quia quis quos recusandae
                                    rem sunt veniam veritatis? Ipsa.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui avatar image" src="{{ asset('img/placeholders/matt.jpg') }}"> Matt
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <div class="header">Superbe expérience !</div>
                            <div class="meta">
                                <span class="right floated time">2 days ago</span>
                                <span class="category">Nom entreprise</span>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum cumque deserunt
                                    dolor eveniet hic, ipsa ipsam minus mollitia pariatur quae quia quis quos recusandae
                                    rem sunt veniam veritatis? Ipsa.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui avatar image" src="{{ asset('img/placeholders/matt.jpg') }}"> Matt
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <div class="header">Superbe expérience !</div>
                            <div class="meta">
                                <span class="right floated time">2 days ago</span>
                                <span class="category">Nom entreprise</span>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum cumque deserunt
                                    dolor eveniet hic, ipsa ipsam minus mollitia pariatur quae quia quis quos recusandae
                                    rem sunt veniam veritatis? Ipsa.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui avatar image" src="{{ asset('img/placeholders/matt.jpg') }}"> Matt
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}