{% extends 'page.html.twig' %}
{% block title %}Votre profil{% endblock %}
{% block body %}
    <div class="ui segment grid identity stackable">
        <div class="two wide column">
            {% if app.session.get('userImage') %}
                <img class="ui small centered circular image" src="{{ asset("uploads/logo/" ~ app.session.get('userImage')) }}">
            {% else %}
                <img class="ui small centered circular image" src="{{ asset('img/placeholders/elyse.png') }}">
            {% endif %}
        </div>
        <div class="ten wide column">
            <h2 class="ui header">
                <div class="content">Profil de {{ prenom }} {{ nom }}
                    <div class="sub header">{{ nomEntreprise }}</div>
                </div>
            </h2>
            <div class="ui label">Entreprise</div>
        </div>
        <div class="four wide column">
            <div>
                <i class="icon green check circle outline"></i>
                E-mail vérifié
            </div>
            <div>
                <i class="icon grey question mark circle outline"></i>
                Téléphone non vérifié
            </div>
            <br><br>
            <div>
                <i class="icon newspaper outline"></i>
                Crédit annonces restantes : 2
            </div>
            <a href="#">Ajouter des crédits</a>
        </div>
    </div>
    <a href="{{ path('entreprise_contrats') }}" class="ui blue button">
        Vos contrats
    </a>
    <div class="ui vertical segment">
        <h3 class="ui header green">Vos offres d'emploi</h3>
        <div class="ui three stackable cards">
            {% for publication in publications %}
                <a href="{{ path('entreprise_show_offre_emploi', {'id': publication.identity}) }}" class="ui card">
                    <div class="content">
                        <div class="header">{{ publication.nom }}</div>
                        <div class="meta">Créée le {{ publication.createdAt|date('d/m/Y') }}</div>
                        <div class="meta">À {{ publication.createdAt|date('H:i') }}</div>
                        <br>
                        <div class="description">
                            {% if publication.description|length %}
                                <p>{{ publication.description|length > 200 ? publication.description|slice(0, 201)|split(' ')|slice(0, -1)|join(' ') ~ ' …' : publication.description }}</p>
                            {% else %}
                                <p class="meta">** Pas de description **</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui label">
                            {{ typesContrat[loop.index0] }}
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div style="border: none; width: auto; box-shadow: none;"
                 class="ui card grid middle aligned center aligned">
                <div class="column">
                    <a href="{{ path('entreprise_create_offre_emploi') }}" class="ui row labeled icon">
                        <button class="ui blue labeled icon button">
                            <i class="plus icon"></i>
                            Nouvelle offre
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header green">Vos contrats</h3>
        <div class="ui segment" id="contratsList">
            {% for i in 1..2 %}
                <div class="ui vertical segment">
                    <div class="content">
                        <div class="ui placeholder">
                            <div class="header">
                                <div class="short line"></div>
                            </div>
                            <div class="paragraph">
                                <div class="ui placeholder">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            getMyAcceptedCandidatures();
            getMyAcceptedPropositions();
            // Réinitialise la liste
            contratsList.innerHTML = '';
        })

        function getMyAcceptedCandidatures() {
            // /entreprise/get/my/accepted/candidatures
            // L'Employeur récupère totues ses candidatures acceptées => {'candidatures': [OffreEmploi => Employe]}
            $.ajax({
                url: '/entreprise/get/my/accepted/candidatures',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCandidaturesAcceptees(results)
                }
            });
        }

        function getMyAcceptedPropositions() {
            // /entreprise/get/my/accepted/propositions
            // L'Employeur récupère toutes ses propositions acceptées => {'propositions': [OffreEmploi => Employe]}
            $.ajax({
                url: '/entreprise/get/my/accepted/propositions',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayPropositionsAcceptees(results)
                }
            });
        }

        class CandidaturesAcceptees {
            constructor(id, nom, description, updatedAt) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                updatedAt = updatedAt.substr(0, 10).split('-');
                updatedAt = updatedAt[2] + '/' + updatedAt[1] + '/' + updatedAt[0];
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                this.cardTemplate = `
                <div class="ui vertical segment">
                    <div class="content">
                        <div class="header">
                            <i class="icon green check"></i>
                            Acceptée - ${nom}
                        </div>
                        <div class="description">
                            <p>${updatedAt}</p>
                            <p>${description}</p>
                        </div>
                    </div>
                </div>`;
            }
        }

        var contratsList = document.getElementById('contratsList');

        function displayCandidaturesAcceptees(results) {
            console.log(results);

            // Il n'y a pas de résultats :
            if (results.candidatures === undefined || results.candidatures.length == 0) {
                contratsList.innerHTML = `<div style="margin: 10px auto;">Pas de candidatures acceptées.</div>`;
            } else {
                // Il y a des résultats :
                results.candidatures.forEach(a => {
                    let card = new CandidaturesAcceptees(a.identity, a.nom, a.description, a.updatedAt);
                    contratsList.innerHTML += card.cardTemplate;
                })
            }
        }

        function displayPropositionsAcceptees(results) {
            console.log(results);

            // Il n'y a pas de résultats :
            if (results.propositions === undefined || results.propositions.length == 0) {
                contratsList.innerHTML = `<div style="margin: 10px auto;">Pas de propositions acceptées.</div>`;
            } else {
                // Il y a des résultats :
                results.propositions.forEach(a => {
                    let card = new CandidaturesAcceptees(a.identity, a.nom, a.description, a.updatedAt);
                    contratsList.innerHTML += card.cardTemplate;
                })
            }
        }
    </script>
{% endblock %}