{% extends 'page.html.twig' %}
{% block title %}{{ offre.nom }}{% endblock %}
{% block body %}
    <style type="text/css">
        body {
            background-color: #fafbfc;
        }
    </style>
    <div style="position: relative;" class="ui text justified container">
        {% if not owner %}
            <a href="{{ path('entreprise_offres_emploi') }}" class="ui compact labeled icon button backToResultsBtn">
                <i class="left arrow icon"></i>
                Retour aux annonces
            </a>
        {% else %}
            <div class="ui buttons">
                <a href="{{ path('entreprise_modify_offre_emploi', {id: offre.identity}) }}"
                   class="ui blue basic button">
                    Éditer
                </a>
                <a href="{{ path('entreprise_delete_offre_emploi', {id: offre.identity}) }}"
                   class="ui red basic button">
                    Supprimer
                </a>
            </div>
        {% endif %}
        <div class="ui segment annonce">
            <div class="ui right floated icon header small">
                {% if employeur.logo is not empty %}
                    <img src="{{ asset('uploads/logo/' ~ employeur.logo) }}"
                         class="ui circular image profileLogo profileLogo--80">
                {% else %}
                    <img src="{{ asset('img/placeholders/matthew.png') }}" class="ui large circular image">
                {% endif %}
                {{ employeur.nomEntreprise }}
            </div>
            <div>
                <h2 class="ui header">{{ offre.nom }}</h2>
                <div>
                    <div class="ui label">{{ typeContrat }}</div>
                </div>
            </div>
            <div style="padding-top: 20px;" class="ui content annonce-content">
                {% if not offre.deplacement %}
                    <div>
                        <i class="icon map pin"></i>
                        {{ offre.lieu.ville }} {{ offre.lieu.codePostal }}
                    </div>
                    <div>{{ offre.lieu.rue }}</div>
                {% endif %}
                <div>
                    <i class="icon calendar alternate"></i>
                    {% if typeContrat == 'CDI' %}
                        À partir du {{ offre.debut|date('d/m/Y') }}
                    {% else %}
                        Du {{ offre.debut|date('d/m/Y') }} au {{ offre.fin|date('d/m/Y') }}
                    {% endif %}
                </div>
                <div>{{ offre.nbPostes }} recrutement{% if offre.nbPostes > 1 %}s{% endif %}
                    disponible{% if offre.nbPostes > 1 %}s{% endif %}</div>
                <div>{{ offre.salaire }}.00€</div>
                <div>{{ offre.heures }}h/semaine</div>
                {% if offre.description|length %}
                    <div class="ui divider"></div>
                    <div class="ui vertical segment">{{ offre.description|nl2br }}</div>
                {% else %}
                    <p class="meta">** L'employeur n'a pas renseigné de description **</p>
                {% endif %}
            </div>
            <!-- Autres -->
            <h3 class="ui dividing header">
                <div class="content">Informations additionnelles</div>
            </h3>
            <div class="ui segment">
                <div class="ui left float icon">
                    <i class="icon {% if offre.teletravail %}check{% else %}times{% endif %}"></i>
                    Éligible au télétravail
                </div>
                <div class="ui left float icon">
                    <i class="icon {% if offre.loge %}check{% else %}times{% endif %}"></i>
                    Logé
                </div>
            </div>
        </div>
        {% if app.session.get('userType') == 'Employe' %}
            <button id="applyBtn" class="ui green button" onclick="apply()">
                Candidater
            </button>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        $('.ui.embed').embed();

        // Candidate
        function apply() {
            $.ajax({
                url: '/entreprise/candidate/{{ offre.identity }}',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    candidatureResponse(results);
                }
            });
        }

        // Réponse candidature
        var applyBtn = document.getElementById("applyBtn")

        function candidatureResponse(results) {

            // Candidature posée
            if (results.result) {
                applyBtn.innerHTML = '<div>Validé</div>';
            }
            // Candidature retirée
            else {
                applyBtn.innerHTML = '<div>Déjà candidaté</div>';
            }
        }
    </script>
{% endblock %}