{% extends 'page.html.twig' %}
{% block title %}Résultats profils{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <input type="text" placeholder="Rechercher">
            <div class="ui basic floating dropdown button">
                <div class="text">Tous les résultats</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item">Tous les résultats</div>
                    <div class="item">Offres d'emploi</div>
                    <div class="item">Candidats</div>
                    <div class="item">Auto-entrepreneurs</div>
                </div>
            </div>
            <div class="ui button">Rechercher</div>
        </div>
        <div style="margin-bottom: 10px;" class="ui tiny breadcrumb">
            <a class="section">Home</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Registration</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">Personal Information</div>
        </div>
        <div class="ui grid">
            <div class="three wide column">
                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">Products</div>
                        <div class="menu">
                            <a class="item">Enterprise</a>
                            <a class="item">Consumer</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">CMS Solutions</div>
                        <div class="menu">
                            <a class="item">Rails</a>
                            <a class="item">Python</a>
                            <a class="item">PHP</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Hosting</div>
                        <div class="menu">
                            <a class="item">Shared</a>
                            <a class="item">Dedicated</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="header">Support</div>
                        <div class="menu">
                            <a class="item">E-mail Support</a>
                            <a class="item">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui three stackable cards">
                    <a class="ui card" href="#">
                        <div class="content">
                            <img class="ui left floated mini circular image"
                                 src="{{ asset('img/placeholders/matthew.png') }}">
                            <div class="header">Matt Romney</div>
                            <div class="meta">
                                <span class="category">Développeur Web</span>
                            </div>
                            <div style="margin-top: 10px;" class="contract">
                                <div class="ui label">Intérim</div>
                                <div class="ui label">Saisonnier</div>
                                <div class="ui label">Étudiant</div>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                    deserunt,
                                    dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                    tempore
                                    voluptate, voluptates voluptatibus? Asperiores, id.</p>
                                <ul>
                                    <li>HTML/CSS</li>
                                    <li>Javascript</li>
                                    <li>jQuery</li>
                                    <li>Ruby-on-rails</li>
                                </ul>
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="icon calendar"></i>
                            Du 01/06 au 31/08 2021
                        </div>
                    </a>
                    {% if profil %}
                        {% for cv in profil %}
                            <a class="ui card" href="{{ path('show_cv', {'id': cv['id']}) }}">
                                <div class="content">
                                    <img class="ui left floated mini circular image"
                                         src="{{ asset('img/placeholders/jenny.jpg') }}">
                                    <div class="header">{{ cv['prenom'] }} {{ cv['nom'] }}</div>
                                    <div class="meta">
                                        <span class="category">{{ cv['metier'] }}</span>
                                    </div>
                                    <div style="margin-top: 10px;" class="contract">
                                        <div class="ui label">{{ cv['contrat'] }}</div>
                                        {% if cv['langues'] is not empty %}
                                            <div class="ui label">{{ cv['langues'][0] }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="description">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                            deserunt,
                                            dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                            tempore
                                            voluptate, voluptates voluptatibus? Asperiores, id.</p>
                                        {% if cv['diplomes'][0]['nom'] is not empty %}
                                            <p>
                                                <i class="icon bookmark"></i>
                                                {{ cv['diplomes'][0]['nom'] }} obtenu le {{ cv['diplomes'][0]['date'] }}
                                            </p>
                                        {% endif %}
                                        {% if cv['permis'] is not null %}
                                            <p>
                                                <i class="icon outline check"></i>
                                                Dispose du permis
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="extra content">
                                    <i class="icon calendar"></i>
                                    À partir du 01/04/2021
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        rien
                    {% endif %}
                    <a class="ui card" href="#">
                        <div class="content">
                            <img class="ui left floated mini circular image"
                                 src="{{ asset('img/placeholders/steve.jpg') }}">
                            <div class="header">Jean Jessétou</div>
                            <div class="meta">
                                <span class="category">Directeur RH</span>
                            </div>
                            <div style="margin-top: 10px;" class="contract">
                                <div class="ui label">CDD</div>
                                <div class="ui label">CDI</div>
                                <div class="ui label">Intérim</div>
                                <div class="ui label">Saisonnier</div>
                            </div>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut
                                    deserunt,
                                    dicta distinctio dolorem earum, ipsa non numquam pariatur quia quidem quos
                                    tempore
                                    voluptate, voluptates voluptatibus? Asperiores, id.</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="icon calendar"></i>
                            Disponible dès maintenaint
                        </div>
                    </a>
                    {% for i in 0..5 %}
                        <div class="ui card">
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="image header">
                                        <div class="medium line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="ui placeholder">
                                    <div class="paragraph">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui placeholder">
                                    <div class="long line"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}