{% extends 'page.html.twig' %}
{% block title %}Résultats profils{% endblock %}
{% block body %}
    <div style="margin-top: 20px  !important; margin-bottom: 40px; min-height: 600px;" class="ui justified container">
        <div style="margin-bottom: 20px;" class="ui right action left icon fluid input">
            <i class="search icon"></i>
            <select class="ui fluid search dropdown" id="searchInput">
                <option value="none">Désactivé</option>
                {% for id, secteurs in metiers %}
                    {% for secteur, metiersSecteur in secteurs %}
                        {% for id, metierSecteur in metiersSecteur %}
                            <option value="{{ metierSecteur }}">{{ secteur }} - {{ metierSecteur }}</option>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </select>
            <div id="searchInput" class="ui button">Rechercher</div>
        </div>
        <div class="ui vertical segment stackable">
            <div class="ui vertical menu left floated">
                <div class="item">
                    <div class="header">Langue</div>
                    <div class="menu">
                        <div class="item field">
                            <select class="ui search dropdown" name="langues" id="languesSelect">
                                <option value="none">Désactivé</option>
                                {% for langue in langues %}
                                    <option value="{{ langue }}">{{ langue }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Compétence</div>
                    <div class="menu">
                        <div class="ui item field input">
                            <input type="text" id="competencesInput">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">Permis de conduire</div>
                    <div class="menu">
                        <div class="item field">
                            <div class="ui toggle checkbox" id="permisCheckboxValue">
                                <input id="permisCheckboxInput" type="checkbox" name="permis" class="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"></div>
            </div>
            <div class="ui center aligned">
                <div id="cvsList" class="ui two stackable cards">
                    <noscript>
                        <p>Veuillez activer JavaScript pour afficher les résultats en AJAX.</p>
                    </noscript>
                    {% for i in 0..6 %}
                        <div class="item">
                            <div class="image">
                                <div class="ui placeholder">
                                    <div class="square image"></div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="ui placeholder">
                                    <div class="header">
                                        <div class="very short line"></div>
                                        <div class="short line"></div>
                                    </div>
                                    <div class="paragraph">
                                        <div class="ui placeholder">
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type='text/javascript'>
        class CVCard {
            constructor(id, prenom, nom, photo, diplomes, langues, createdAt, description, permis) {
                if (!nom.length > 0) nom = 'Carte n°' + id;
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                let url = "{{ path('entreprise_show_cv', {'id': 1}) }}".slice(0, -1) + id;

                this.cardTemplate = `
                <div class="ui card cvCard">
                    <div class="content">
                        <div class="header">${prenom} ${nom}</div>
                        <div style="margin-top: 10px;" class="contract">
                            ${langues.map(langue => `<div class="ui label">${langue.langue.nom}</div>`).join('')}
                        </div>
                        <div style="margin-top: 10px;" class="description">
                            <p>${description}</p>
                            ${diplomes.map(diplome =>
                    `<p><i class="icon bookmark"></i>${diplome.diplome.nom} à ${diplome.diplome.etablissement}</p>`
                ).join('')}
                        </div>
                    </div>
                    <div class="extra">
                        <a href="${url}"
                           class="ui right floated green button">
                            Voir le CV
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>`;
            }
        }

        window.addEventListener("DOMContentLoaded", (event) => {
            makeRequest()
        });

        //Cherche tous les résultats
        function makeRequest() {
            $.ajax({
                url: '/entreprise/get/cvs',
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCVS(results)
                }
            });
        }

        var searchInput = document.getElementById('searchInput');
        var languesSelect = document.getElementById('languesSelect');
        var competencesInput = document.getElementById('competencesInput');
        var permisCheckboxInput = document.getElementById('permisCheckboxInput');
        function makeRequestFiltered() {
            var metier = searchInput.value
            var nom = 'none';
            var competences = competencesInput.value;
            var langues = languesSelect.value;
            var permis = permisCheckboxInput.checked;
            //var permis = 'none';
            var limit = 25;
            var offset = 0;

            metier = metier.trim();
            if (metier.length == 0) {
                metier = 'none'
            }

            competences = competences.trim();
            if (competences.length == 0) {
                competences = 'none';
            } else if (competences != 'none') {
                // Correspond au niveau minimum exigé pour la compétence /5
                competences += '1';
            }

            langues = langues.trim();
            if (langues.length == 0) {
                langues = 'none';
            } else if (langues != 'none') {
                // Correspond au niveau minimum exigé pour la compétence /5
                langues += '1';
            }

            if (permis == false) {
                permis = 'none'
            }

            $.ajax({
                url: '/entreprise/get/cvs/' + metier + '/' + nom + '/' + competences + '/' + langues + '/' + permis + '/' + limit + '/' + offset,
                type: 'POST',
                dataType: 'json',
                success: function (results) {
                    displayCVS(results)
                }
            });
        }

        //Affiche les résultats dans 'cvsList'
        var cvsList = document.getElementById('cvsList');

        function displayCVS(results) {
            // Réinitialise la liste
            cvsList.innerHTML = '';

            // Il n'y a pas de résultats :
            if (results.cvs === undefined || results.cvs.length == 0) {
                cvsList.innerHTML = `<div style="margin: 60px auto;">Pas de résultat trouvé.</div>`;
            }

            // Il y a des résultats :
            results.cvs.forEach(cv => {
                let card = new CVCard(cv.id, cv.employe.prenom, cv.employe.nom, cv.employe.photo, cv.diplomes, cv.langues, cv.createdAt, cv.description, cv.permis);
                cvsList.innerHTML += card.cardTemplate;
            })
        }

        // Cherche les CV lorsqu'on appuie sur la touche entrée dans la barre de recherche
        searchInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                makeRequestFiltered();
            }
        });

        competencesInput.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                makeRequestFiltered();
            }
        });

        $('#searchInput').change(makeRequestFiltered)
        $('#permisCheckboxInput').change(makeRequestFiltered);
        $('#languesSelect').change(makeRequestFiltered);
    </script>
{% endblock %}