<div class="ui menu primaryNav">
    <a href="{{ path('homepage') }}" class="header item">
        <img style="margin-right: .5em;" src="{{ asset('img/FJ200.png') }}"/>
        Accueil
    </a>
    <a href="" class="active item">Annonces</a>
    <a href="" class="item">Créer annonce</a>
    <a href="" class="item">CV</a>
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="icon bell"></i>
            <div class="menu">
                <div class="ui item feed">
                    <div class="event">
                        <div class="label">
                            <img src="{{ asset('img/placeholders/matt.jpg') }}">
                        </div>
                        <div class="content">
                            <div class="date">
                                Il y a 3 jours
                            </div>
                            <div class="summary">
                                Matt vous a envoyé un message.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui item feed">
                    <div class="event">
                        <div class="label">
                            <img src="{{ asset('img/placeholders/elyse.png') }}">
                        </div>
                        <div class="content">
                            <div class="date">
                                Il y a plus d'une semaine
                            </div>
                            <div class="summary">
                                Clément a déposé une nouvelle annonce.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('userSpace') }}" class="item">
            <img class="ui mini circular image" src="{{ asset('img/placeholders/elyse.png') }}">
            <div class="content person-summary">
                <div class="ui sub header" style="max-width: 117px;">Elyse</div>
                <div>{{ app.session.get('userType') }}</div>
            </div>
        </a>
        <div class="ui dropdown item">
            <i class="icon settings"></i>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ path('create_cv') }}" class="item">Déposer sa carte</a>
                <a href="{{ path('create_emploi') }}" class="item">Accéder aux offres</a>
                <div class="divider"></div>
                <a class="item" href="{{ path('deconnexion') }}">Se déconnecter
                    <i class="icon sign-out"></i>
                </a>
            </div>
        </div>
    </div>
</div>