<div id="nav" class="ui menu primaryNav">
    <a href="{{ path('homepage') }}" class="header item">
        <img src="{{ asset('img/FJ200.png') }}"/>
        Accueil
    </a>
    <a href="{{ path('particulier_annonces') }}" class="item">Annonces</a>
    <a href="{{ path('particulier_create_carte') }}" class="item">Modifier votre carte</a>
    <div class="right menu">
        <a href="{{ path('particulier_contrats') }}" title="Propositions contrat" class="ui dropdown item">
            <i class="icon briefcase"></i>
            <span id="contratsAmount" style="margin-left: 0em;" class="bottom ui basic blue label">0</span>
            <div class="menu">
                <div id="notifications" class="ui item feed">
                    <div style="justify-content: center;" class="ui event">
                        <i style="margin: 0!important;" class="notched circle loading icon"></i>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('userSpace') }}" title="Profil utilisateur" class="ui dropdown item">
            <img class="ui mini circular image" src="{{ asset('img/placeholders/elyse.png') }}">
            <div class="content person-summary">
                <div class="ui sub header" style="max-width: 117px;">{{ app.session.get('userName') }}</div>
                <div>Freelance</div>
            </div>
        </a>
        <div class="ui dropdown item" title="Paramètres">
            <i class="icon settings"></i>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="#" class="item">Ajout crédits</a>
                <a href="#" class="item">Éditer le profil</a>
                <a href="#" class="item">Préférences</a>
                <div class="divider"></div>
                <a class="item red" href="{{ path('deconnexion') }}">Déconnexion
                    <i class="icon sign-out"></i>
                </a>
            </div>
        </div>
    </div>
</div>