<div id="nav" class="ui menu primaryNav visiteurNav transition">
    <div class="ui container">
        <a href="{{ path('homepage') }}" class="header item">
            <img class="logo" src="{{ asset('img/FJ200.png') }}">
            FeelJob
        </a>
        <a href="{{ path('show', {type:'entreprises'}) }}" class="item">Entreprises</a>
        <a href="{{ path('show', {type:'candidats'}) }}" class="item">Candidats</a>
        <a href="{{ path('show', {type:'freelances'}) }}" class="item">Freelances</a>
        <a href="{{ path('show', {type:'particuliers'}) }}" class="item">Particuliers</a>
    </div>
    <div class="right item">
        <a href="{{ path('connexion') }}" class="item">Connexion</a>
        <a href="{{ path('inscription') }}" class="item inscription">Inscription</a>
    </div>
</div>