<footer class="footer">
    <div style="padding:5em 0em" class="ui inverted vertical segment footer-1">
        <div class="ui container">
            <div class="ui inverted stackable divided grid">
                <div class="row">
                    <div class="three wide column">
                        <h4 class="ui inverted header">À propos</h4>
                        <div role="list" class="ui inverted link list">
                            <a href="{{ path('contact') }}" role="listitem" class="item">Nous contacter</a>
                            <a role="listitem" class="item">Plan du site</a>
                            <a href="{{ path('developers') }}" role="listitem" class="item">Développeurs</a>
                            <a role="listitem" class="item" href="https://github.com/Gashmob/Feeljob">Code source</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Mentions légales</h4>
                        <div role="list" class="ui inverted link list">
                            <a href="{{ path('conditions') }}" role="listitem" class="item">Conditions d'utilisation</a>
                            <a href="{{ path('confidentiality') }}" role="listitem" class="item">Confidentialité</a>
                            <a href="{{ path('cookies') }}" role="listitem" class="item">Cookies</a>
                            <a role="listitem" class="item">Mentions légales</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis distinctio
                            dolores doloribus ducimus eius eligendi id iusto laborum mollitia nam perferendis porro
                            possimus quasi ratione repellat soluta totam. Est.</p>
                    </div>
                </div>
                <div class="row">
                    <a href="https://facebook.com" class="ui facebook button">
                        <i class="facebook icon"></i>
                        Facebook
                    </a>
                    <a href="https://linkedin.com" class="ui linkedin button">
                        <i class="linkedin icon"></i>
                        LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical segment center aligned footer-2 ">
        Copyright &#169; <?php echo date("Y"); ?> FeelJob est une marque déposée, tous droits réservés.
    </div>

    <!-- Scripts -->
    <script type='text/javascript' src='{{ asset('js/jquery.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/semantic.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/main.js') }}'></script>
    {% if not app.session.get('user') %}
    {% else %}
        <script type='text/javascript' src='{{ asset('js/user.js') }}'></script>
    {% endif %}
</footer>