{% extends 'page.html.twig' %}
{% block title %}Votre profil{% endblock %}
{% block body %}
    <div class="ui segment grid identity stackable">
        <div class="two wide column">
            <img class="ui small centered circular image" src="{{ asset('img/placeholders/elyse.png') }}">
        </div>
        <div class="ten wide column">
            <h2 class="ui header">
                <div class="content">Profil de {{ prenom }} {{ nom }}</div>
            </h2>
            <div class="ui label">{{ app.session.get('userType') }}</div>
        </div>
        <div class="four wide column">
            <div>
                <i class="icon green check circle outline"></i>
                E-mail vérifié
            </div>
            <div>
                <i class="icon grey question mark circle outline"></i>
                Téléphone non vérifié
            </div>
        </div>
    </div>
    <a href="{{ path('particulier_contrats') }}" class="ui blue button">
        Vos contrats
    </a>
    <h3 class="ui header green">Vos annonces</h3>
    <div class="ui four stackable cards">
        {% for publication in publications %}
            <a href="{{ path('particulier_show_annonce', {'id': publication.identity}) }}" class="ui card">
                <div class="content">
                    <div class="header">{{ publication.nom }}</div>
                    <div class="meta">Créé le {{ publication.updatedAt|date('d/m/Y') }}</div>
                    <div class="meta">À {{ publication.updatedAt|date('H:i') }}</div>
                    <div class="description">
                        <p>{{ publication.description|length > 200 ? publication.description|slice(0, 201)|split(' ')|slice(0, -1)|join(' ') ~ ' …' : publication.description }}</p>
                    </div>
                </div>
                <div class="extra content">
                    <i class="check icon"></i>
                    Vu {{ publication.identity }} fois
                </div>
            </a>
        {% endfor %}
        <div style="border: none; width: auto; box-shadow: none;"
             class="ui card grid middle aligned center aligned">
            <div class="column">
                <div class="ui row labeled icon">
                    <a href="{{ path('particulier_create_annonce') }}" class="ui row labeled icon">
                        <button class="ui blue labeled icon button">
                            <i class="plus icon"></i>
                            Nouvelle annonce
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header green">Vos contrats</h3>
        <div class="ui segment" id="contratsList">
            {% for i in 1..2 %}
                <div class="ui vertical segment">
                    <div class="content">
                        <div class="ui placeholder">
                            <div class="header">
                                <div class="short line"></div>
                            </div>
                            <div class="paragraph">
                                <div class="ui placeholder">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            getAcceptedMyCandidatures();
            getMyAcceptedPropositions();
        })

        function getAcceptedMyCandidatures() {
            // /particulier/get/accepted/my/candidatures
            // Le Particulier récupère toutes ses candidatures acceptées => {'candidatures': [Annonce => AutoEntrepreneur]}
            $.ajax({
                url: '/particulier/get/accepted/my/candidatures',
                type: 'POST',
                dataType: 'html',
                success: function (code_html) {
                    console.log(code_html)
                }
            });
        }

        function getMyAcceptedPropositions() {
            // /particulier/get/my/accepted/propositions
            // Le Particulier récupère toutes ses propositions acceptées => {'propositions': [Annonce => AutoEntrepreneur]}
            $.ajax({
                url: '/particulier/get/my/accepted/propositions',
                type: 'POST',
                dataType: 'html',
                success: function (code_html) {
                    console.log(code_html)
                }
            });
        }

        class CandidaturesAcceptees {
            constructor(id, nom, description, updatedAt) {
                if (!nom.length > 0) nom = 'Annonce n°' + id;
                updatedAt = updatedAt.substr(0, 10).split('-');
                updatedAt = updatedAt[2] + '/' + updatedAt[1] + '/' + updatedAt[0];
                if (description.length > 0) description = truncate(description, MAX_DESCRIPTION_LENGTH, true)
                else description = "** Pas de description renseignée **";
                this.cardTemplate = `
                <div class="ui vertical segment">
                    <div class="content">
                        <div class="header">
                            <i class="icon green check"></i>
                            Acceptée - ${nom}
                        </div>
                        <div class="description">
                            <p>${updatedAt}</p>
                            <p>${description}</p>
                        </div>
                    </div>
                </div>`;
            }
        }

        var contratsList = document.getElementById('contratsList');

        function displayCandidaturesAcceptees(results) {
            console.log(results);

            // Il n'y a pas de résultats :
            if (results.candidatures === undefined || results.candidatures.length == 0) {
                contratsList.innerHTML = `<div style="margin: 10px auto;">Pas de candidatures acceptées.</div>`;
            } else {
                // Il y a des résultats :
                results.candidatures.forEach(a => {
                    let card = new CandidaturesAcceptees(a.identity, a.nom, a.description, a.updatedAt);
                    contratsList.innerHTML += card.cardTemplate;
                })
            }
        }

        function displayPropositionsAcceptees(results) {
            console.log(results);

            // Il n'y a pas de résultats :
            if (results.propositions === undefined || results.propositions.length == 0) {
                contratsList.innerHTML = `<div style="margin: 10px auto;">Pas de propositions acceptées.</div>`;
            } else {
                // Il y a des résultats :
                results.propositions.forEach(a => {
                    let card = new CandidaturesAcceptees(a.identity, a.nom, a.description, a.updatedAt);
                    contratsList.innerHTML += card.cardTemplate;
                })
            }
        }
    </script>
{% endblock %}