{% extends 'page.html.twig' %}
{% block title %}FealJob - Créer un CV{% endblock %}
{% block body %}
    <div class="ui text justified container">
        <h3 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            Nouveau CV
        </h3>
        <form class="ui form segment" method="post">
            <div class="inline field">
                <label>Nom du CV :</label>
                <div class="ui input">
                    <input type="text" name="nomCV"
                           value="{% if cv is not empty %}{{ cv['intitule'] }}{% else %}CV #1{% endif %}">
                </div>
            </div>
            <div class="inline field">
                <label>Types de contrat :</label>
                <select class="ui dropdown" name="typeContrat">
                    {% for type in typeContrats %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Identité -->
            <h3 class="ui dividing green header">Identité</h3>
            <div class="ui two column grid">
                <div class="ui four wide column">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <i class="pencil icon"></i>
                                </div>
                            </div>
                        </div>
                        <img src="{% if cv is not empty %}{{ asset('uploads/photos/' ~ cv['photo']) }}{% else %}{{ asset('img/placeholders/elyse.png') }}{% endif %}"
                             alt="photo de profil"
                             class="ui small circular dimmable image">
                    </div>
                </div>
                <div class="ui twelve wide column">
                    <div class="two fields">
                        <div class="field disabled">
                            <label>Prénom</label>
                            <input type="text" name="prenom" value="{{ prenom }}">
                        </div>
                        <div class="field disabled">
                            <label>Nom</label>
                            <input type="text" name="nom" value="{{ nom }}">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Né le</label>
                            <input type="text" name="dateNaissance" placeholder="18/09/1989"
                                   value="{% if cv is not empty %}{{ cv['naissance'] }}{% endif %}">
                        </div>
                        <div class="field">
                            <label>Profil</label>
                            <select class="ui dropdown" name="metier">
                                {% for metier in metiers %}
                                    <option value="{{ metier }}">{{ metier }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="eight wide field">
                            <label>Sexe</label>
                            <select class="ui dropdown" name="sexe">
                                <option value="N">Non précisé</option>
                                <option value="H">Homme</option>
                                <option value="F">Femme</option>
                            </select>
                        </div>
                        <div class="float right eight wide field">
                            <label>Photo de profil</label>
                            <div class="ui small basic icon buttons">
                                <label style="width: 150px;" class="ui button" for="photo-profil">
                                    <i class="paperclip icon"></i>
                                    Sélectionner
                                    <input type="file" style="display: none;" id="photo-profil"
                                           name="photoProfil">
                                </label>
                                <button class="ui button"><i class="times icon"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="two fields">
                    <div class="field">
                        <label>E-mail</label>
                        <div class="ui left icon input">
                            <i class="icon envelope"></i>
                            <input type="text" name="mail" placeholder="Email"
                                   value="{{ email }}">
                        </div>
                    </div>
                    <div class="field">
                        <label>Téléphone</label>
                        <div class="ui left icon input">
                            <i class="icon phone"></i>
                            <input type="text" name="telephone" placeholder="Téléphone" value="{{ telephone }}">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Adresse</label>
                        <div class="ui left icon input">
                            <i class="icon home"></i>
                            <input type="text" name="adresse" placeholder="16 rue des Coquillages">
                        </div>
                    </div>
                    <div class="field">
                        <label>Situation familiale</label>
                        <select class="ui dropdown" name="famille">
                            {% for situation in situations %}
                                <option value="{{ situation }}">{{ situation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Formation -->
            <h3 class="ui dividing green header">Formation</h3>
            <div style="margin-bottom: 10px;" class="formations-list" id="formationsList">
                <div class="ui segment" id="formationsItem">
                    <div class="two fields">
                        <div class="field">
                            <label>Intitulé du diplôme</label>
                            <input type="text" name="diplomes" placeholder="Intitulé du diplôme">
                        </div>
                        <div class="field">
                            <label>Nom de l'établissement</label>
                            <input type="text" name="nomEtablissements" placeholder="Nom de l'établissement">
                        </div>
                    </div>
                    <div class="field">
                        <label>Date d'obtention</label>
                        <input type="date" name="dates" placeholder="26/04/2013">
                    </div>
                </div>
            </div>
            <div class="ui container center aligned">
                <i class="icon plus circle big green" onclick="add_feed()" id="feedPlus"></i>
            </div>
            <!-- Expérience -->
            <h3 class="ui dividing green header">Expérience professionnelle</h3>
            <div style="margin-bottom: 10px;" class="experiences-list" id="experiencesList">
                <div class="ui segment" id="experiencesItem">
                    <div class="two fields">
                        <div class="field">
                            <label>Intitulé du poste</label>
                            <div class="field">
                                <input type="text" name="postes" placeholder="Intitulé du poste">
                            </div>
                        </div>
                        <div class="field">
                            <label>Nom de l'entreprise</label>
                            <div class="field">
                                <input type="text" name="nomEntreprises" placeholder="Nom de l'entreprise">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Durée</label>
                        <input type="text" name="durees" placeholder="Durée">
                    </div>
                </div>
            </div>
            <div class="ui container center aligned">
                <i class="icon plus circle big green" onclick="add_exp()" id="expPlus"></i>
            </div>
            <!-- Autres -->
            <h3 class="ui dividing green header">Autres informations</h3>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="permisB" class="hidden">
                        <label>Je dispose du permis B</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="transport" class="hidden">
                        <label>J'ai un moyen de transport</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="ui fluid large green submit button">Enregistrer</button>
            <div class="ui negative message transition hidden">
                <i class="close icon"></i>
                <div class="header">
                    Erreur !
                </div>
                <p>
                    {% for message in app.flashes('fail') %}
                        {{ message }}
                    {% endfor %}
                </p>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var nbForm = nbExp = 1

        function add_feed() {
            if (nbForm < 8) {
                $('#feedPlus').transition('jiggle');
                nbForm += 1;
                let div1 = document.createElement('div');
                div1.classList.add('ui');
                div1.classList.add('segment');
                div1.classList.add('form' + nbForm);
                div1.classList.add('transition');
                div1.classList.add('hidden');
                div1.innerHTML = document.getElementById('formationsItem').innerHTML;
                document.getElementById('formationsList').appendChild(div1);
                $(div1).transition('scale')
            } else {
                $('#feedPlus').transition('shake');
            }
        }

        function add_exp() {
            if (nbExp < 12) {
                $('#expPlus').transition('jiggle');
                nbExp += 1;
                let div1 = document.createElement('div');
                div1.classList.add('ui');
                div1.classList.add('segment');
                div1.classList.add('exp' + nbExp);
                div1.classList.add('transition');
                div1.classList.add('hidden');
                div1.innerHTML = document.getElementById('experiencesItem').innerHTML;
                document.getElementById('experiencesList').appendChild(div1);
                $(div1).transition('scale')
            } else {
                $('#expPlus').transition('shake');
            }
        }
    </script>
{% endblock %}
