{% extends 'page.html.twig' %}
{% block title %}Votre profil{% endblock %}
{% block body %}
    <div class="ui segment grid identity stackable">
        <div class="two wide column">
            <img class="ui small centered circular image" src="{{ asset('img/placeholders/elyse.png') }}">
        </div>
        <div class="ten wide column">
            <h2 class="ui header">
                <div class="content">Profil de {{ prenom }} {{ nom }}</div>
            </h2>
            <div class="ui label">Candidat</div>
        </div>
        <div class="four wide column">
            <div>
                <i class="icon green check circle outline"></i>
                E-mail vérifié
            </div>
            <div>
                <i class="icon grey question mark circle outline"></i>
                Téléphone non vérifié
            </div>
        </div>
    </div>
    <div class="ui vertical segment">
        <h3 class="ui header green">Votre CV</h3>
        <div class="ui two stackable cards">
            {% if publications %}
                <a href="{{ path('entreprise_show_cv', {'id': publications.id}) }}" class="ui card">
                    <div class="content">
                        <div class="meta">Créé le {{ publications.updatedAt|date('d/m/Y') }}</div>
                        <div class="meta">À {{ publications.updatedAt|date('H:i') }}</div>
                        <div class="description">
                            {% if publications.description|length %}
                                <p>{{ publications.description|length > 200 ? publications.description|slice(0, 201)|split(' ')|slice(0, -1)|join(' ') ~ ' …' : publications.description }}</p>
                            {% else %}
                                <p class="meta">** Pas de description **</p>
                            {% endif %}
                            {% for diplome in publications.diplomes %}
                                <p><i class="icon bookmark"></i>{{ diplome.diplome.nom }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="check icon"></i>
                        Vu {{ publications.id }} fois
                    </div>
                </a>
            {% else %}
                <div style="border: none; width: auto; box-shadow: none;"
                     class="ui card grid middle aligned center aligned">
                    <div class="column">
                        {# <div class="ui row labeled icon">
                            <label class="ui labeled icon button" for="profile-cv">
                                <i class="download icon"></i>
                                Télécharger
                                <input type="file" style="display: none;" id="profile-cv" name="cv">
                            </label>
                        </div>
                        <div style="margin: .5em 0;" class="row">Ou</div> #}
                        <a href="{{ path('entreprise_create_cv') }}" class="ui row labeled icon">
                            <button class="ui blue labeled icon button">
                                <i class="plus icon"></i>
                                Créer
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}