{% extends 'page.html.twig' %}
{% block title %}Voir un CV{% endblock %}
{% block body %}
    <div class="background fixed">
        <div class="relative">
            <svg class="layer no1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="hsl(114deg 50% 43%)" fill-opacity="1"
                      d="M0,160L48,181.3C96,203,192,245,288,229.3C384,213,480,139,576,106.7C672,75,768,85,864,106.7C960,128,1056,160,1152,192C1248,224,1344,256,1392,272L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
            </svg>
            <svg class="layer no2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="hsl(134deg 50% 43%)" fill-opacity="0.7"
                      d="M0,64L48,58.7C96,53,192,43,288,53.3C384,64,480,96,576,106.7C672,117,768,107,864,96C960,85,1056,75,1152,85.3C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <div style="position: relative" class="ui text justified container">
        {% if not owner %}
            <a href="{{ path('entreprise_cvs') }}" class="ui compact labeled icon button"
               style="position: absolute; top: 20px; left: -20px; transform: translateX(-100%);">
                <i class="left arrow icon"></i>
                Retour aux CV
            </a>
        {% endif %}
        <h2 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            CV de {{ cv.employe.prenom }} {{ cv.employe.nom }}
        </h2>
        <div>
            <div class="ui buttons">
                {% if owner %}
                    <a href="{{ path('entreprise_modifier_cv', {id: cv.id}) }}"
                       class="ui blue basic button">
                        Éditer
                    </a>
                    <a href="{{ path('entreprise_delete_cv', {id: cv.id}) }}"
                       class="ui red basic button">
                        Supprimer
                    </a>
                {% endif %}
            </div>
        </div>
        <form class="ui form segment">
            <!-- Identité -->
            <h3 class="ui dividing header">
                <i class="icon user"></i>
                <div class="content">Identité</div>
            </h3>
            <div class="ui two column stackable grid">
                <div class="column four wide">
                    {% if cv.employe.photo is not empty %}
                        <img src="{{ asset('uploads/photo/' ~ cv.employe.photo) }}"
                             alt="photo de profil"
                             class="ui small circular image profileLogo">
                    {% else %}
                        <img src="{{ asset('img/placeholders/matthew.png') }}"
                             alt="photo de profil"
                             class="ui small circular image profileLogo">
                    {% endif %}
                </div>
                <div class="column ten wide">
                    <div>{{ cv.employe.prenom }} {{ cv.employe.nom }}</div>
                    <div>Né le {{ cv.naissance|date('d/m/Y') }}</div>
                    <div>{{ cv.situationFamille.nom }}</div>
                    <div class="ui divider"></div>
                    {% if app.session.get('user') %}
                        <div>{{ cv.employe.email }}</div>
                        <div>{{ cv.employe.telephone }}</div>
                    {% endif %}
                </div>
            </div>
            <!-- Métier -->
            {% if metier %}
            <h3 class="ui dividing header">
                <div class="content">Métier</div>
            </h3>
            <div class="ui segments">
                <div class="ui segment metier">
                    <h4 class="ui header">{{ metier }}</h4>
                </div>
            </div>
            {% endif %}
            <!-- Formation -->
            {% if cv.diplomes is not empty %}
                <h3 class="ui dividing header">
                    <i class="icon university"></i>
                    <div class="content">Formation</div>
                </h3>
                <div class="ui segments">
                    {% for diplome in cv.diplomes %}
                        <div class="ui segment">
                            <h4 class="ui header">{{ diplome.diplome.nom }} à {{ diplome.diplome.etablissement }}</h4>
                            <div>{{ diplome.date|date('d/m/Y') }}</div>
                            <div>{{ diplome.mention }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Expérience -->
            {% if cv.metiers is not empty %}
                <h3 class="ui dividing header">
                    <i class="icon dolly"></i>
                    <div class="content">Expérience professionnelle</div>
                </h3>
                <div class="ui segments">
                    {% for metier in cv.metiers %}
                        <div class="ui segment">
                            <h4 class="ui header">{{ metier.metier.nom }} chez {{ metier.metier.nomEntreprise }}</h4>
                            <div>Du {{ metier.dateDebut|date('d/m/Y') }} au {{ metier.dateFin|date('d/m/Y') }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Bio -->
            {% if cv.description %}
                <h3 class="ui dividing header">
                    <i class="icon info"></i>
                    <div class="content">Biographie</div>
                </h3>
                <div class="ui segment">
                    <p>{{ cv.description|nl2br }}</p>
                </div>
            {% endif %}
            <!-- Langues parlées -->
            {% if cv.langues is not empty %}
            <h3 class="ui dividing header">
                <i class="icon globe"></i>
                <div class="content">Langues parlées</div>
            </h3>
            <ul>
                {% for langue in cv.langues %}
                    <li>{{ langue.langue.nom }} - {{ langue.niveau }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- Compétences -->
            {% if cv.competences is not empty %}
                <h3 class="ui dividing header">
                    <i class="icon settings"></i>
                    <div class="content">Compétences</div>
                </h3>
                <ul>
                    {% for competence in cv.competences %}
                        <li>{{ competence.competence.nom }} - {{ competence.niveau }} / 5</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- Autres -->
            <h3 class="ui dividing header">
                <i class="icon question circle outline"></i>
                <div class="content">Autres informations</div>
            </h3>
            <div class="ui segment">
                <div class="ui left float icon">
                    <i class="icon {% if cv.permis %}check{% else %}times{% endif %}"></i>
                    Dispose du permis B
                </div>
                <div class="ui left float icon">
                    <i class="icon {% if cv.transport %}check{% else %}times{% endif %}"></i>
                    Dispose d'un moyen de transport
                </div>
            </div>
        </form>
        {% if app.session.get('userType') == 'Employeur' %}
            <div class="ui vertical segment left aligned">
                <h3 class="ui header">Proposer à {{ cv.employe.prenom }} une de vos offres d'emploi</h3>
                <select class="ui dropdown" name="offreEmploiTarget" id="offreEmploiTarget">
                    {% if offres %}
                        <option value="">Choisir</option>
                        {% for offre in offres %}
                            <option value="{{ offre.identity }}">{{ offre.nom }}</option>
                        {% endfor %}
                    {% else %}
                        <option value="">Pas d'annonce postée !</option>
                    {% endif %}
                </select>
                <button id="applyBtn" class="ui green button" onclick="offreContrat()">
                    Recruter
                </button>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var offreEmploiTarget = document.getElementById('offreEmploiTarget')
        $(offreEmploiTarget).on('change', function () {
            $('#applyBtn').text('Recruter');
        })

        function offreContrat() {
            var idOffreEmploi = offreEmploiTarget.value;
            if (idOffreEmploi.length > 0) {
                $.ajax({
                    url: '/entreprise/propose/' + idOffreEmploi + '/{{ cv.employe.identity }}',
                    type: 'POST',
                    dataType: 'json',
                    success: function (results) {
                        offreContratResponse(results);
                    }
                });
            }
        }

        const applyBtn = document.querySelector("#applyBtn")

        function offreContratResponse(results) {
            console.log(results)
            // Candidature posée
            if (results.result) {
                applyBtn.innerHTML = '<div>Validé</div>';
            }
            // Candidature retirée
            else {
                applyBtn.innerHTML = '<div>Déjà demandé</div>';
            }
        }
    </script>
{% endblock %}