{% extends 'page.html.twig' %}
{% block title %}Voir un CV{% endblock %}
{% block body %}
    <div style="position: relative" class="ui text justified container">
        {% if not owner %}
            <a href="{{ path('entreprise_cvs') }}" class="ui compact labeled icon button"
               style="position: absolute; top: 20px; left: -20px; transform: translateX(-100%);">
                <i class="left arrow icon"></i>
                Retour aux CV
            </a>
        {% endif %}
        <h2 class="ui center aligned icon header">
            <i class="address card outline icon"></i>
            CV de {{ cv.employe.prenom }} {{ cv.employe.nom }}
        </h2>
        <div>
            <div class="ui buttons">
                <a download="CV de Jean Valjean" href="{{ asset('img/placeholders/cv.png') }}"
                   class="ui grey basic button">
                    Télécharger
                </a>
                {% if owner %}
                    <a href="{{ path('entreprise_modifier_cv', {id: cv.id}) }}"
                       class="ui blue basic button">
                        Éditer
                    </a>
                    <a href="{{ path('entreprise_delete_cv', {id: cv.id}) }}"
                       class="ui red basic button">
                        Supprimer
                    </a>
                {% endif %}
            </div>
        </div>
        <form class="ui form segment">
            <!-- Identité -->
            <h3 class="ui dividing header">
                <i class="icon user"></i>
                <div class="content">Identité</div>
            </h3>
            <div class="ui two column grid">
                <div class="column four wide">
                    {% if cv.employe.photo is not empty %}
                        <img src="{{ asset('uploads/photo/' ~ cv.employe.photo) }}"
                             alt="photo de profil"
                             class="ui small circular image">
                    {% else %}
                        <img src="{{ asset('img/placeholders/matthew.png') }}"
                             alt="photo de profil"
                             class="ui small circular image">
                    {% endif %}
                </div>
                <div class="column ten wide">
                    <div>{{ cv.employe.prenom }} {{ cv.employe.nom }}</div>
                    <div>Homme</div>
                    <div>Né le {{ cv.naissance|date('d/m/Y') }}</div>
                    <div>{{ cv.situationFamille.nom }}</div>
                    <div class="ui divider"></div>
                    {% if app.session.get('user') %}
                        <div>{{ cv.employe.email }}</div>
                        <div>{{ cv.employe.telephone }}</div>
                    {% endif %}
                </div>
            </div>
            <!-- Formation -->
            <h3 class="ui dividing header">
                <i class="icon university"></i>
                <div class="content">Formation</div>
            </h3>
            <div class="ui segments">
                {% for diplome in cv.diplomes %}
                    <div class="ui segment formation1">
                        <h4 class="ui header">{{ diplome.diplome.nom }} à {{ diplome.diplome.etablissement }}</h4>
                        <div>{{ diplome.date|date('d/m/Y') }}</div>
                        <div>{{ diplome.mention }}</div>
                    </div>
                {% endfor %}
            </div>
            <!-- Expérience -->
            <h3 class="ui dividing header">
                <i class="icon dolly"></i>
                <div class="content">Expérience professionnelle</div>
            </h3>
            <div class="ui segments">
                {% for metier in cv.metiers %}
                    <div class="ui segment">
                        <h4 class="ui header">{{ metier.metier.nom }} chez {{ metier.metier.nomEntreprise }}</h4>
                        <div>Du {{ metier.dateDebut|date('d/m/Y') }} au {{ metier.dateFin|date('d/m/Y') }}</div>
                    </div>
                {% endfor %}
            </div>
            {% if cv.description %}
                <!-- Bio -->
                <h3 class="ui dividing header">
                    <i class="icon info"></i>
                    <div class="content">Biographie</div>
                </h3>
                <div class="ui segment">
                    <p>{{ cv.description }}</p>
                </div>
            {% endif %}
            <!-- Langues parlées -->
            <h3 class="ui dividing header">
                <i class="icon globe"></i>
                <div class="content">Langues parlées</div>
            </h3>
            <ul>
                {% for langue in cv.langues %}
                    <li>{{ langue.langue.nom }} - {{ langue.niveau }}</li>
                {% endfor %}
            </ul>
            <!-- Compétences -->
            <h3 class="ui dividing header">
                <i class="icon settings"></i>
                <div class="content">Compétences</div>
            </h3>
            <ul>
                {% for competence in cv.competences %}
                    <li>{{ competence.competence.nom }} - {{ competence.niveau }}</li>
                {% endfor %}
            </ul>
            <!-- Autres -->
            <h3 class="ui dividing header">
                <i class="icon question circle outline"></i>
                <div class="content">Autres informations</div>
            </h3>
            <div class="ui segment">
                <div class="ui left float icon">
                    <i class="icon {% if cv.permis %}check{% else %}times{% endif %}"></i>
                    Dispose du permis B
                </div>
                <div class="ui left float icon">
                    <i class="icon {% if cv.permis %}check{% else %}times{% endif %}"></i>
                    Dispose d'un moyen de transport
                </div>
            </div>
        </form>
    </div>
{% endblock %}