<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">

        <!-- Authors -->
        <meta name="author" content="Kevin Traini, Luca Ciampi, Florian Deschenaux, Kevin Martins Gomes, Brunelle Cordier" />
        <meta property='article:author' content='' />
        <meta property='article:publisher' content='' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="fr">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="rating" content="safe for kids">
        <meta name="keywords" content="Fealjob, Feal, Job">

        <!-- Favicon -->

        <!-- CSS -->
        <link rel='stylesheet' id='main-css'  href="{{ asset('css/main.css') }}" type='text/css' media='all' />
        <link rel='stylesheet' id='main-css'  href="{{ asset('css/semantic.min.css') }}" type='text/css' media='all' />

        <title>{% block title %}Bienvenue sur FealJob{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="ui menu">
                    <div class="header item">Brand</div>
                    <a class="active item">Link</a>
                    <a class="item">Link</a>
                    <div class="ui dropdown item">
                        Dropdown
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Action</div>
                            <div class="item">Another Action</div>
                            <div class="item">Something else here</div>
                            <div class="divider"></div>
                            <div class="item">Separated Link</div>
                            <div class="divider"></div>
                            <div class="item">One more separated link</div>
                        </div>
                    </div>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui action left icon input">
                                <i class="search icon"></i>
                                <input type="text" placeholder="Search">
                                <button class="ui button">Submit</button>
                            </div>
                        </div>
                        <a class="item">Link</a>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div>
                footer ici test
            </div>
            {% block javascripts %}{% endblock %}
        </footer>

        <!-- Scripts -->
        <script type='text/javascript' src='{{ asset('js/jquery.min.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/main.js') }}'></script>
        <script type='text/javascript' src='{{ asset('js/semantic.min.js') }}'></script>
    </body>
</html>
