<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">

    <!-- Authors -->
    <meta name="author" content="Kevin Traini, Luca Ciampi, Florian Deschenaux, Kevin Martins Gomes, Brunelle Cordier"/>
    <meta property='article:author' content=''/>
    <meta property='article:publisher' content=''/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="rating" content="safe for kids">
    <meta name="keywords" content="Fealjob, Feal, Job">

    <!-- Favicon -->

    <!-- CSS -->
    <link rel='stylesheet' id='main-css' href="{{ asset('css/semantic.min.css') }}" type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css' href="{{ asset('css/main.css') }}" type='text/css' media='all'/>

    <title>{% block title %}FealJob{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav>
        <div class="ui menu">
            <a href="{{ path('homepage') }}" class="header item"><img src="{{ asset('img/FJ200.png') }}" />Accueil</a>
            <a href="{{ path('showEmployeur') }}" class="active item">Employeur</a>
            <a href="{{ path('showCandidat') }}" class="item">Candidat</a>
            <a href="{{ path('showAuto') }}" class="ui dropdown item">
                Auto-entrepreneurs
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Déposer sa carte</div>
                    <div class="item">Accéder aux offres</div>
                    <div class="divider"></div>
                    <div class="item">Accéder aux cartes</div>
                    <div class="item">Proposer une offre</div>
                </div>
            </a>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
<footer class="footer">
    <div style="padding:5em 0em" class="ui inverted vertical segment">
        <div class="ui container">
            <div class="ui inverted stackable divided grid">
                <div class="row">
                    <div class="three wide column">
                        <h4 class="ui inverted header">À propos</h4>
                        <div role="list" class="ui inverted link list">
                            <a role="listitem" class="item">Nous contacter</a>
                            <a role="listitem" class="item">Plan du site</a>
                            <a role="listitem" class="item">Auteurs</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Mentions légales</h4>
                        <div role="list" class="ui inverted link list">
                            <a role="listitem" class="item">Conditions d'utilisation</a>
                            <a role="listitem" class="item">Confidentialité</a>
                            <a role="listitem" class="item">Cookies</a>
                            <a role="listitem" class="item">Mentions légales</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Messages flash :<br> {% for message in app.flashes('success') %}
                                {{ message }}
                            {% endfor %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical segment footer__additional ">
        Copyright &#169; FealJob est une marque déposée, tous droits réservés.
    </div>

    <div style="position:fixed;margin:2em;bottom:0;left:0;animation:back-to-docs 1.5s ease-in-out infinite;z-index:6">
        <a aria-current="page" class="ui teal button active" role="button" href="https://react.semantic-ui.com/layouts">
            <i aria-hidden="true" class="left arrow icon"></i>
            Layouts</a>
        <a target="_blank" class="ui secondary button" role="button"
           href="https://github.com/Semantic-Org/Semantic-UI-React/blob/master/docs/src/layouts/HomepageLayout.js">
            <i aria-hidden="true" class="github icon"></i>
            Source</a>
    </div>
    <!-- Scripts -->
    <script type='text/javascript' src='{{ asset('js/jquery.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/semantic.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/main.js') }}'></script>
    {% block javascripts %}{% endblock %}
</footer>
</body>
</html>
